* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.grad-1 {
    height: 90vh;
    width: 35vw;
    background: #97E1D4;
    position: absolute;
    border-radius: 50%;
    top: -50vh;
    left: -10vw;
    transform: rotate(-41deg);
    filter: blur(276px);
    z-index: 0;
}

.grad-2 {
    height: 100vh;
    width: 50vw;
    background: #A7AEF9;
    position: absolute;
    border-radius: 50%;
    transform: rotate(-50deg);
    bottom: -20vh;
    /* left: -5vw; */
    left: -5vw;
    filter: blur(300px);
    z-index: 0;
}

.grad-3 {
    height: 90vh;
    width: 40vw;
    background: #A7AEF9;
    position: absolute;
    border-radius: 50%;
    /* transform: rotate(90deg); */
    /* bottom: -20vh; */
    /* left: -5vw; */
    /* left: 5vw; */
    left: 30vw;
    top: 10vh;
    z-index: 1;
    filter: blur(276px);
}

.grad-4 {
    height: 95vh;
    width: 25vw;
    background: #A7AEF9;
    position: absolute;
    border-radius: 50%;
    transform: rotate(90deg);
    right: 25vw;
    top: -30vh;
    z-index: 0;
    filter: blur(276px);
}

.grad-5 {
    height: 100vh;
    width: 60vw;
    background: #f2a0c8;
    position: absolute;
    border-radius: 50%;
    transform: rotate(50deg);
    bottom: -20vh;
    /* left: -5vw; */
    right: -5vw;
    z-index: 0;
    filter: blur(406px);
}

.grad-6 {
    height: 100vh;
    width: 22vw;
    background: #f2a0c8;
    position: absolute;
    border-radius: 50%;
    /* transform: rotate(50deg); */
    top: -30vh;
    /* left: -5vw; */
    /* right: -5vw; */
    right: -3vw;
    z-index: 0;
    filter: blur(406px);
}

.leftside {
    position: relative;
    right: 1vw;
    top: -5vh;
}

.circle {
    /* background: linear-gradient(141.82deg, #F5C9D9 7.91%, #DDCDF8 92.44%); */
    background: linear-gradient(141.82deg, #F5C9D9 7.91%, #DDCDF8 92.44%);
    height: 60vh;
    width: 60vh;
    position: absolute;
    top: 20vh;
    right: 10vw;
    border-radius: 50%;
    z-index: 3;
}

.leftside .main-box {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    left: 7vw;
    height: 70vh;
    width: 21vw;
    background: white;
    z-index: 3;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(44px);
    top: -6vh;
    box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.25);
}

.leftside .box1 {
    position: relative;
    height: 20vh;
    width: 12vw;
    background-color: white;
    z-index: 5;
    top: -60vh;
    right: -25vw;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 8px 11px 22px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftside .box2 {
    position: relative;
    height: 13vh;
    width: 12vw;
    background-color: white;
    z-index: 5;
    top: -58vh;
    right: -22vw;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 8px 11px 22px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftside .box3 {
    position: relative;
    height: 13vh;
    width: 20vw;
    background-color: white;
    z-index: 5;
    top: -65vh;
    right: 3vw;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 8px 11px 22px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-side {
    /* z-index: 5; */
    position: relative;
    top: 10vh;
    /* left: 10vw; */
    z-index: 5;
}

.head1 {
    z-index: 6;
    position: relative;
    font-size: 40px;
    padding-left: 30px;
}

.head2 {
    position: relative;
    font-size: 90px;
    padding: 30px 30px 30px 30px;
}

.search {
    position: relative;
    display: flex;
    height: 7vh;
    width: 40vw;
    background-color: white;
    z-index: 5;
    border-radius: 25px;
    border: 1.9px solid black;
    background: transparent;
    /* padding-left: 60px; */
    left: 2vw;
    margin-bottom: 30px;
}

.right-side {
    position: relative;
    /* display: flex; */
    left: 2vw;
}

.search-me {
    width: 20vw;
    height: 5vh;
    background: transparent;
    outline: none;
    position: relative;
    top: 6px;
    left: 15px;
    border-radius: 25px;
    border: none;
    font-size: 19px;
    color: #000;
    z-index: 5;
}

.btn-srch {
    position: relative;
    width: 10vw;
    right: -9.8vw;
    z-index: 6;
    height: 6vh;
    border-radius: 25px;
    border: none;
    top: 4px;
    color: rgb(0, 0, 0);
    /* background: linear-gradient(99.1deg, rgba(167, 174, 249, 0.99) 19.2%, rgba(245, 201, 217, 0.99) 84.89%); */
    background: linear-gradient(95.84deg, rgba(133, 143, 249, 0.99) 1.34%, rgba(255, 216, 230, 0.99) 81.63%);
    font-size: 18px;
    /* width: 7vw; */
}

.btm-line {
    position: relative;
    padding-left: 40px;
}

.box1:hover {
    transform: scale(3.5);
}

.btm-icn {
    position: relative;
    display: flex;
    float: right;
    right: 78vw;
    top: 23vh;
}

.btm-icn .con {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    height: 7vh;
    width: 7vh;
    border: 1px solid black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.facebook {
    position: relative;
    color: black;
    font-size: 26px;
}

.twitter {
    position: relative;
    color: black;
    font-size: 26px;
}

.instagram {
    position: relative;
    color: black;
    font-size: 26px;
}

.youtube {
    position: relative;
    color: black;
    font-size: 26px;
}

.leftside .box1:hover {
    transform: rotate(25deg);
}

.prd-infh {
    margin-top: 20px;
    font-size: 25px;
}

.prd-prf {
    position: relative;
    flex-direction: row;
    display: flex;
}

.avtar {
    height: 10vh;
    width: 10vw;
    clip-path: circle(30px);
    position: relative;
    /* left: -7vw; */
    margin-top: 10px;
    margin-left: 2vw;
}

.cl-name {
    position: relative;
    padding-top: 30px;
    padding-right: 60px;
    padding-left: 0px;
    top: 1vh;
    left: -2vw;
}

.view-prd {
    position: relative;
    height: 5vh;
    top: 30px;
    left: -5vw;
    width: 8vw;
    outline: none;
    border: none;
    border-radius: 20px;
    /* background: linear-gradient(97.52deg, rgba(151, 225, 212, 0.99) 1.69%, rgba(206, 187, 250, 0.99) 74.47%); */
    background-color: #858FF9;
    font-size: 15px;
    font-weight: bold;
}

.prod-name {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    /* align-items: center; */
    padding-left: 10px;
    padding-bottom: 10px;
}

.prod-img {
    position: relative;
    border-radius: 15px;
    width: 20vw;
    margin-top: 10px;
}

.prc {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -3vw;
    top: 1vh;
    /* padding-right: 40px; */
}

.price {
    padding-right: 50px;
    padding-left: 60px;
}

.prc-btn {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -1vw;
    top: 1.5vh;
}

.buy-now {
    height: 4vh;
    width: 8vw;
    border-radius: 15px;
    border: none;
    margin-right: 20px;
    margin-left: 20px;
    background: #CEBBFA;
}

.add-cart {
    height: 4vh;
    width: 8vw;
    border-radius: 15px;
    border: none;
    /* margin-right: 20px;
    margin-left: 20px; */
    background: rgba(131, 89, 227, 0.99);
    color: white;
}

.gps-img {
    width: 10vw;
    border-radius: 15px;
    position: relative;
    top: 8px;
}

.grph-img {
    width: 10vw;
    border-radius: 15px;
    position: relative;
    height: 11vh;
    top: 8px;
    /* top: 8px; */
}

.like-cont {
    display: flex;
    flex-direction: row;
}

.like-head {
    padding-left: 30px;
    padding-top: 20px;
}

.like-img {
    width: 8vw;
    border-radius: 15px;
    position: relative;
    height: 8vh;
    margin-right: 30px;
    margin-top: 20px;
    /* top: 8px; */
}


/* .prod-name {
    position: relative;
    left: -3vw;
    margin-top: 10px;
} */